@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  /* Primary */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-theme {
  /* Neutral */
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --BG: hsl(230, 17%, 14%); /*(BG)  --very-dark-blue*/
  --top-BG-pattern: hsl(232, 19%, 15%); /*(Top BG Pattern) --very-dark-blue*/
  --cardBG: hsl(228, 28%, 20%); /*(Card BG) --dark-desaturated-blue*/
  --cardHoveredBG: hsl(228, 28%, 28%);
  --secondary-text: hsl(228, 34%, 66%); /*(Text) --desaturated-blue*/
  --main-text: hsl(0, 0%, 100%); /*(Text) --white*/
}

.light-theme {
  /* Neutral */
  --toggle: hsl(230, 22%, 74%); /*toggle*/
  --BG: hsl(0, 0%, 100%); /*(BG) --White*/
  --top-BG-pattern: hsl(225, 100%, 98%); /*(Top BG Pattern) --very-pale-blue*/
  --cardBG: hsl(227, 47%, 96%); /*(Card BG) --light-grayish-blue*/
  --cardHoveredBG: hsl(227, 47%, 90%); /*(Card BG) --light-grayish-blue*/
  --secondary-text: hsl(228, 12%, 44%); /*(Text) --dark-grayish-blue*/
  --main-text: hsl(230, 17%, 14%); /*(Text) --very-dark-blue*/
}
h1,
h2,
body,
div {
  padding: 0;
  margin: 0;
}

input,
button {
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
#root {
  position: relative;
  z-index: 1;
}
.App {
  position: relative;
  background-color: var(--BG);
  padding-bottom: 6rem;
  z-index: -2;
}
* {
  transition: background 300ms ease-in-out;
}

.container {
  width: 80%;
  margin: auto;
}
.container::before {
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: var(--top-BG-pattern);
  min-height: 33vh;
}
@media (max-width: 800px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

/* framework */
.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
